:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark:  #BA265D;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;
  --box-shadow: 0 2rem 6rem rgba(0,0,0, 0.3); }

@keyframes popButton {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3); }
  100% {
    scale: 1;
    transform: scale(1);
    box-shadow: none; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat; }

.heading-primary {
  font-size: 2.2rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 1.5rem 3rem; }

.btn-inline {
  font-size: inherit;
  color: var(--color-primary);
  display: inline-block;
  border: none;
  padding-bottom: 2px;
  border-bottom: 1px solid currentColor;
  background-color: transparent;
  cursor: pointer; }
  .btn-inline:hover {
    color: var(--grey-dark-1); }
  .btn-inline:focus {
    outline: none;
    animation: popButton 1s infinite; }

.gallery {
  display: flex; }
  .gallery__img {
    width: 100%;
    display: block; }

.nav {
  display: flex;
  align-items: center;
  align-self: stretch; }
  .nav > * {
    cursor: pointer;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    align-self: stretch; }
  .nav > *:hover {
    background-color: var(--grey-light-3); }
  .nav__icon {
    height: 2.2rem;
    width: 2.2rem;
    fill: var(--grey-dark-2); }
  .nav__count {
    font-size: 0.8rem;
    background-color: var(--color-primary);
    color: #fff;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -0.8rem;
    margin-top: -2rem; }
  .nav__user-photo {
    height: 4rem;
    border-radius: 50%; }
  .nav__user-name {
    padding-left: 1rem;
    font-size: 1.4rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .search__input {
    font-family: inherit;
    color: inherit;
    font-size: 1.4rem;
    padding: .5rem 1rem;
    background-color: var(--grey-light-2);
    border: none;
    border-radius: 50px;
    flex: 0 0 80%;
    transition: flex 0.3s; }
    .search__input:focus {
      outline: none;
      flex: 0 0 100%; }
    .search__input::placeholder {
      color: var(--grey-light-4);
      font-weight: 300; }
  .search__button {
    transform: translateX(-100%);
    border: none;
    padding: 0.5rem 1rem;
    background-color: transparent;
    transition: transform 0.2s; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateX(-100%) translateY(3px); }
  .search__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--grey-dark-3); }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--grey-light-1);
  box-shadow: var(--box-shadow);
  min-height: 80rem; }

.content {
  display: flex; }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__logo {
    height: 3.25rem;
    padding-left: 2rem; }

.sidebar {
  background-color: var(--grey-dark-1);
  flex: 0 0 18%;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .sidebar .side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem; }
    .sidebar .side-nav__item {
      position: relative;
      display: block;
      cursor: pointer; }
      .sidebar .side-nav__item:not(:last-child) {
        margin-bottom: 0.5rem; }
    .sidebar .side-nav__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      z-index: 1;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; }
    .sidebar .side-nav__item:hover::before, .sidebar .side-nav__item--active::before {
      transform: scaleY(1);
      width: 100%; }
    .sidebar .side-nav__item:active::before {
      background-color: var(--color-primary-light); }
    .sidebar .side-nav__link:link, .sidebar .side-nav__link:visited {
      text-decoration: none;
      color: var(--grey-light-1);
      text-transform: uppercase;
      padding: 1.5rem 3rem;
      position: relative;
      z-index: 10;
      display: flex;
      align-items: center; }
    .sidebar .side-nav__icon {
      height: 1.75rem;
      width: 1.75rem;
      fill: currentColor;
      margin-right: 2rem; }
  .sidebar .legal {
    font-size: 1.4rem;
    padding: 2.5rem;
    color: var(--grey-light-4);
    text-align: center; }

.hotel-view {
  background-color: #fff;
  flex: 1; }

.overview {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--grey-light-2); }
  .overview__rating {
    margin-right: auto;
    display: flex; }
  .overview__icon-star {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary); }
  .overview__location {
    display: flex;
    margin: 0 2.2rem; }
  .overview__icon-location {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary);
    margin-right: 0.5rem; }
  .overview__score {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    padding: 0 2.2rem;
    color: #fff; }
  .overview__score-value {
    font-size: 2.2rem;
    font-weight: 300; }
  .overview__score-votes {
    font-size: 0.8rem;
    margin-top: -3px;
    text-transform: uppercase; }
