:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark:  #BA265D;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;
  --box-shadow: 0 2rem 6rem rgba(0,0,0, 0.3); }

@keyframes popButton {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3); }
  100% {
    scale: 1;
    transform: scale(1);
    box-shadow: none; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat; }

.heading-primary {
  font-size: 2.2rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 1.5rem 3rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 1.8rem;
      padding: 1.5rem 2rem; } }
  @media only screen and (max-width: 31.25em) {
    .heading-primary {
      font-size: 1.4rem;
      padding: 1rem; } }
  @media only screen and (max-width: 28.125em) {
    .heading-primary {
      order: -1;
      flex: 0 0 100%;
      text-align: center; } }

.u-border-bottom {
  border-bottom: 1px solid var(--grey-light-2); }

.btn-inline {
  font-size: inherit;
  color: var(--color-primary);
  display: inline-block;
  border: none;
  padding-bottom: 2px;
  border-bottom: 1px solid currentColor;
  background-color: transparent;
  cursor: pointer;
  align-self: center; }
  .btn-inline span {
    transition: all 0.2s; }
  .btn-inline:hover {
    color: var(--grey-dark-1); }
  .btn-inline:hover span {
    margin-left: 0.5rem; }
  .btn-inline:focus {
    outline: none;
    animation: popButton 1s infinite; }

.btn-secondary {
  border: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  position: relative;
  border-radius: 100px;
  cursor: pointer;
  overflow: hidden;
  text-align: center; }
  .btn-secondary > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.3s; }
  .btn-secondary__visible {
    padding: 2rem 7.5rem; }
  .btn-secondary__hidden {
    position: absolute;
    top: -100%;
    left: 0;
    padding: 2rem 0; }
  .btn-secondary:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark)); }
  .btn-secondary:hover .btn-secondary__hidden {
    top: 0; }
  .btn-secondary:hover .btn-secondary__visible {
    transform: translateY(100%); }
  .btn-secondary:focus {
    outline: none;
    animation: popButton 1s infinite; }

.description {
  flex: 0 0 60%;
  margin-right: 4.5rem;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .description {
      margin-right: 3rem;
      padding: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .description {
      margin-right: 0;
      margin-bottom: 3rem; } }
  .description__content:not(:last-of-type) {
    margin-bottom: 2rem; }
  .description__list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem;
    border-top: 1px solid var(--grey-light-2);
    border-bottom: 1px solid var(--grey-light-2);
    display: flex;
    flex-wrap: wrap; }
  .description__item {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    padding-bottom: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .description__item {
        flex: 0 0 100%; } }
    .description__item::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: 0.5rem;
      background-color: var(--color-primary);
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-image: url(../img/chevron-thin-right.svg);
      mask-size: cover; }
  .description__list-icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary); }
  .description__recommend {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .description__span {
    color: var(--grey-dark-3);
    display: block;
    font-size: 1.3rem; }
  .description__people {
    display: flex; }
  .description__image {
    height: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;
    box-sizing: content-box; }
    .description__image:not(:last-child) {
      margin-right: -2rem; }

.gallery {
  display: flex; }
  .gallery__img {
    width: 100%;
    display: block; }

.nav {
  display: flex;
  align-items: center;
  align-self: stretch; }
  .nav > * {
    cursor: pointer;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    align-self: stretch; }
  .nav > *:hover {
    background-color: var(--grey-light-3); }
  .nav__icon {
    height: 2.2rem;
    width: 2.2rem;
    fill: var(--grey-dark-2); }
  .nav__count {
    font-size: 0.8rem;
    background-color: var(--color-primary);
    color: #fff;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -0.8rem;
    margin-top: -2rem; }
  .nav__user-photo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%; }
    @media only screen and (max-width: 31.25em) {
      .nav__user-photo {
        height: 5rem;
        width: 5rem; } }
  .nav__user-name {
    padding-left: 1rem;
    font-size: 1.4rem; }

.review {
  padding: 3rem;
  background-color: #fff;
  margin-bottom: 3rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .review {
      margin-bottom: 2rem;
      padding: 2rem; } }
  .review__text {
    position: relative;
    z-index: 10; }
  .review__user {
    margin-top: 2rem;
    display: flex;
    align-items: center; }
  .review__user-image {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin-right: 2rem; }
  .review__user-details {
    display: flex;
    flex-direction: column;
    margin-right: auto; }
  .review__user-name {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 0.3rem; }
  .review__date {
    font-size: 1rem; }
  .review__user-rating {
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--color-primary); }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -2.5rem;
    left: -1rem;
    font-size: 20rem;
    font-family: sans-serif;
    line-height: 1;
    color: var(--grey-light-2);
    z-index: 1; }

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 31.25em) {
    .search {
      flex: 0 0 100%;
      order: 1; } }
  .search__input {
    font-family: inherit;
    color: inherit;
    font-size: 1.4rem;
    padding: .5rem 1rem;
    background-color: var(--grey-light-2);
    border: none;
    border-radius: 50px;
    flex: 0 0 80%;
    transition: flex 0.3s; }
    @media only screen and (max-width: 31.25em) {
      .search__input {
        flex: 0 0 50%; } }
    .search__input:focus {
      outline: none;
      flex: 0 0 100%; }
      @media only screen and (max-width: 31.25em) {
        .search__input:focus {
          flex: 0 0 70%; } }
    .search__input::placeholder {
      color: var(--grey-light-4);
      font-weight: 300; }
  .search__button {
    transform: translateX(-100%);
    border: none;
    padding: 0.5rem 1rem;
    background-color: transparent;
    transition: transform 0.2s; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateX(-100%) translateY(3px); }
  .search__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--grey-dark-3); }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--grey-light-1);
  box-shadow: var(--box-shadow); }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      height: 13rem;
      align-content: space-around;
      justify-content: center; } }
  .header__logo {
    height: 3.25rem;
    padding-left: 2rem; }
    @media only screen and (max-width: 31.25em) {
      .header__logo {
        height: 5rem; } }

.sidebar {
  background-color: var(--grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .sidebar {
      flex: 1; } }
  .sidebar .side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem; }
    @media only screen and (max-width: 56.25em) {
      .sidebar .side-nav {
        margin-top: 0;
        display: flex;
        justify-content: space-between; } }
    .sidebar .side-nav__item {
      position: relative;
      display: block;
      cursor: pointer; }
      @media only screen and (max-width: 56.25em) {
        .sidebar .side-nav__item {
          flex: 1; } }
      .sidebar .side-nav__item:not(:last-child) {
        margin-bottom: 0.5rem; }
        @media only screen and (max-width: 56.25em) {
          .sidebar .side-nav__item:not(:last-child) {
            margin-bottom: 0; } }
    .sidebar .side-nav__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      z-index: 1;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; }
    .sidebar .side-nav__item:hover::before, .sidebar .side-nav__item--active::before {
      transform: scaleY(1);
      width: 100%; }
    .sidebar .side-nav__item:active::before {
      background-color: var(--color-primary-light); }
    .sidebar .side-nav__link:link, .sidebar .side-nav__link:visited {
      text-decoration: none;
      color: var(--grey-light-1);
      text-transform: uppercase;
      padding: 1.5rem 3rem;
      position: relative;
      z-index: 10;
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 56.25em) {
        .sidebar .side-nav__link:link, .sidebar .side-nav__link:visited {
          justify-content: center; } }
      @media only screen and (max-width: 37.5em) {
        .sidebar .side-nav__link:link, .sidebar .side-nav__link:visited {
          flex-direction: column;
          padding: 1.5rem 0rem; } }
    .sidebar .side-nav__icon {
      height: 1.75rem;
      width: 1.75rem;
      fill: currentColor;
      margin-right: 2rem; }
      @media only screen and (max-width: 37.5em) {
        .sidebar .side-nav__icon {
          margin-right: 0;
          margin-bottom: 1rem; } }
  .sidebar .legal {
    font-size: 1.4rem;
    padding: 2.5rem;
    color: var(--grey-light-4);
    text-align: center; }
    @media only screen and (max-width: 56.25em) {
      .sidebar .legal {
        display: none; } }

.hotel-view {
  background-color: #fff;
  flex: 1; }

.overview {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--grey-light-2); }
  @media only screen and (max-width: 28.125em) {
    .overview {
      flex-wrap: wrap;
      justify-content: space-evenly; } }
  .overview__rating {
    margin-right: auto;
    display: flex; }
    @media only screen and (max-width: 28.125em) {
      .overview__rating {
        margin-right: 0; } }
  .overview__icon-star {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary); }
  .overview__location {
    display: flex;
    margin: 0 2.2rem; }
    @media only screen and (max-width: 28.125em) {
      .overview__location {
        margin: 0; } }
  .overview__icon-location {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary);
    margin-right: 0.5rem; }
    @media only screen and (max-width: 28.125em) {
      .overview__icon-location {
        margin-right: 0.2rem; } }
  .overview__score {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    padding: 0 2.2rem;
    color: #fff; }
    @media only screen and (max-width: 37.5em) {
      .overview__score {
        padding: 0 1.5rem; } }
    @media only screen and (max-width: 28.125em) {
      .overview__score {
        flex-direction: row;
        align-self: center;
        color: var(--color-primary);
        background-color: #fff;
        padding: 1rem 0rem; } }
  .overview__score-value {
    font-size: 2.2rem;
    font-weight: 300; }
    @media only screen and (max-width: 37.5em) {
      .overview__score-value {
        font-size: 1.8rem; } }
  .overview__score-votes {
    font-size: 0.8rem;
    margin-top: -3px;
    text-transform: uppercase; }
    @media only screen and (max-width: 28.125em) {
      .overview__score-votes {
        margin-top: 0px;
        margin-left: 0.3rem; } }

.details {
  background-color: var(--grey-light-1);
  padding: 4.5rem;
  display: flex;
  font-size: 1.4rem;
  border-bottom: 1px solid var(--grey-light-2); }
  @media only screen and (max-width: 56.25em) {
    .details {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .details {
      flex-direction: column; } }

.reviews {
  flex: 1;
  display: flex;
  flex-direction: column; }

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.5rem; }
  @media only screen and (max-width: 56.25em) {
    .cta {
      padding: 2.5rem; } }
  .cta__text {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .cta__text {
        margin-bottom: 2rem; } }
