.header{
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--grey-light-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 31.25em){
        flex-wrap: wrap;
        height: 13rem;
        align-content: space-around;
        justify-content: center;
    } 

    &__logo{
        height: 3.25rem;
        padding-left: 2rem;
        @media only screen and (max-width: 31.25em){
            height: 5rem;
        } 

    }
}