.search{
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 31.25em){
        flex: 0 0 100%;
        order: 1;
    } 

    &__input{
        font-family: inherit;
        color: inherit;
        font-size: 1.4rem;
        padding: .5rem 1rem;
        background-color: var(--grey-light-2);
        border: none;
        border-radius: 50px;
        flex: 0 0 80%;
        transition: flex 0.3s;
        @media only screen and (max-width: 31.25em){
            flex: 0 0 50%;
        } 

        &:focus{
            outline: none;
            flex: 0 0 100%;
            @media only screen and (max-width: 31.25em){
                flex: 0 0 70%;
            } 
        }
        &::placeholder{
            color: var(--grey-light-4);
            font-weight: 300;
        }
    }

    &__button{
        transform: translateX(-100%);
        border: none;
        padding: 0.5rem 1rem;
        background-color: transparent;
        transition: transform 0.2s;
        &:focus{
            outline: none;
        }
        &:active{
            transform: translateX(-100%) translateY(3px);
        }

    }

    &__icon{
        width: 2rem;
        height: 2rem;
        fill: var(--grey-dark-3);
    }

}