.hotel-view{
    background-color: #fff;
    flex: 1;
}

.overview{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--grey-light-2);

    &__rating{
        margin-right: auto;
        display: flex;
    }

    &__icon-star{
        height: 1.75rem;
        width: 1.75rem;
        fill: var(--color-primary);
    }

    &__location{
        display: flex;
        margin: 0 2.2rem;
    }

    &__icon-location{
        height: 1.75rem;
        width: 1.75rem;
        fill: var(--color-primary);
        margin-right: 0.5rem;
    }

    &__score{
        background-color: var(--color-primary);
        display: flex;
        flex-direction: column;
        align-self: stretch;
        justify-content: center;
        align-items: center;
        padding: 0 2.2rem;
        color: #fff;
    }

    &__score-value{
        font-size: 2.2rem;
        font-weight: 300;
    }

    &__score-votes{
        font-size: 0.8rem;
        margin-top: -3px;
        text-transform: uppercase;
    }
}

.details{
    background-color: var(--grey-light-1);
    padding: 4.5rem;
    display: flex;
    font-size: 1.4rem;
    border-bottom: 1px solid var(--grey-light-2);
}

.reviews{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.5rem 0;

    &__text{
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 200;
        margin-bottom: 3rem;
    }
}